<!DOCTYPE html>
<html lang="en">
  <div>
    <div
      id="changeRoute"
      style="height: 42px; background-color: #f1f1f1; text-align: right"
    >
      <a
        style="
          font-family: Roboto;
          font-size: 11px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          color: #939393;
          line-height: 42px;
          text-align: right;
          background: transparent;
        "
        href="https://hijob.site/"
      >
        View in browser →
      </a>
    </div>
    <div style="padding: 0 40px 40px 40px">
      <!-- logo -->
      <div
        id="logo"
        style="
          text-align: center;
          border-bottom: 1px solid #aaa;
          padding: 20px 0;
        "
      >
        <img src="https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/logo.png" alt="Logo chữ H màu xanh" />
      </div>
      <!-- title -->
      <div id="title">
        <h1
          style="
            text-align: center;
            text-align: center;
            font-family: Roboto;
            font-size: 42px;
            font-style: normal;
            font-weight: 900;
            line-height: 52px; /* 123.81% */
            letter-spacing: 0.21px;
            color: #252525;
          "
        >
          Nền tảng tuyển dụng mới
        </h1>
        <p
          style="
            text-align: center;
            z-index: 1;
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: #aaa;
          "
        >
          HiJob là nền tảng giúp Nhà tuyển dụng dễ dàng tiếp cận ứng viên tiềm
          năng trong thời gian ngắn nhất
        </p>
      </div>
      <div style="text-align: center; margin: 15px 0;">
        <a
          style="
            z-index: 10;
            padding: 11px 24px;
            border-radius: 45px;
            background: #0d99ff;
            border: none;
            outline: none;
            color: #ffffff;
            text-decoration: none;
          "
          href="https://hijob.site/post"
        >
          Bắt đầu miễn phí
        </a>
      </div>
      <div id="img-content" style="position: relative">
        <img
          src="https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/image-content.png"
          alt="Nền tảng tuyển dụng mới"
          style="width: 100%; height: auto"
        />
      </div>
      <!-- img content-top -->
      <div id="content-top" style="text-align: center">
        <div class="wrap-img" style="padding: 24px 0">
          <img src="https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/logoCircle.png" alt="" />
        </div>
        <div>
          <h2
            style="
              text-align: center;
              font-family: Roboto;
              font-size: 32px;
              font-style: normal;
              font-weight: 900;
              line-height: 42px;
              color: #191919;
              margin: 0;
            "
          >
            Lợi ích chính
          </h2>
          <p
            style="
              text-align: center;
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              color: #939393;
            "
          >
            HiJob được xây dựng trên nền tảng chính là lợi ích và mong muốn của
            Nhà tuyển dụng trong thời đại công nghệ hiện nay
          </p>
        </div>
      </div>
      <!-- img content-bottom -->
      <div class="content-bottom" style="padding-top: 24px">
        <div class="list-item" style="display: flex">
          <div class="item" style="text-align: center; width: 50%">
            <img
              src="https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/picFree.png"
              alt=""
              style="width: 50px; height: 50px"
            />
            <h3
              style="
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              "
            >
              Miễn phí
            </h3>
            <p
              style="
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              "
            >
              Bạn sẽ có thể đăng tuyển các công việc miễn phí.
            </p>
          </div>
          <div class="item" style="text-align: center; width: 50%">
            <img
              src="https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/various.png"
              alt=""
              style="width: 50px; height: 50px"
            />
            <h3
              style="
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              "
            >
              Công việc đa dạng
            </h3>
            <p
              style="
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              "
            >
              Nhiều công việc khác nhau từ bán thời gian, freelancer, nhân viên
              hợp đồng,...
            </p>
          </div>
        </div>
        <div class="list-item" style="display: flex">
          <div class="item" style="text-align: center; width: 50%">
            <img
              src="https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/largeUser.png"
              alt=""
              style="width: 50px; height: 50px"
            />
            <h3
              style="
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              "
            >
              Người dùng đông đảo
            </h3>
            <p
              style="
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              "
            >
              Số lượng lớn người dùng cần tìm kiếm việc làm trên HiJob.
            </p>
          </div>
          <div class="item" style="text-align: center; width: 50%">
            <img
              src="https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/jobSingle.png"
              alt=""
              style="width: 50px; height: 50px"
            />
            <h3
              style="
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              "
            >
              Công cụ đơn giản
            </h3>
            <p
              style="
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              "
            >
              Công cụ đăng tuyển công việc dễ dàng và nhanh chóng.
            </p>
          </div>
        </div>
        <div style="text-align: center; margin: 24px 0;">
        <a
          style="
            z-index: 10;
            padding: 11px 24px;
            border-radius: 45px;
            background: #0d99ff;
            border: none;
            outline: none;
            color: #ffffff;
            text-decoration: none;
          "
          href="https://hijob.site/post"
        >
          Đăng bài ngay
        </a>
      </div>
        <div style="height: 1px; background: #aaaaaa"></div>
        <div id="qr" style="text-align: center">
          <p
            style="
              text-align: center;
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              color: #939393;
            "
          >
            Bạn có thể quét mã QR để tải ngay ứng dụng HiJob để thuận tiện cho
            việc theo dõi tin tuyển dụng!
          </p>
          <img src="https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/qr.png" alt="Ảnh qr" />
          <div class="qr-gg-store" style="display: block; padding: 24px 0">
            <a href="https://neoworks.page.link/post" style="margin-right: 12px;">
              <img src="https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/qrGg.png" alt="" />
            </a>
            <a href="https://neoworks.page.link/post">
              <img src="https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/qrStore.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
