<html lang='en'>

  <body>
    <div
      id='changeRoute'
      style='height: 42px; background-color: #f1f1f1; position: relative'
    >
      <p
        style='
          font-family: Roboto;
          font-size: 11px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          color: #939393;
          line-height: 42px;
          margin: 0 12px;
          position: absolute;
          right: 0;
        '
      >
        View in browser →
      </p>
    </div>
    <div style='padding: 0 40px 40px 40px; max-width: 1280px; margin: auto;'>
      <!-- title -->
      <div id='title'>
        <h1
          style='
            text-align: center;
            font-family: Roboto;
            font-size: 2.625rem;
            font-style: normal;
            font-weight: 900;
            line-height: 3.25rem; /* 123.81% */
            letter-spacing: 0.01313rem;
            color: #252525;
          '
        >
          Nền tảng tuyển dụng mới
        </h1>
        <p
          style='
            text-align: center;
            z-index: 1;
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: #aaa;
            margin: 0;
          '
        >
          HiJob là nền tảng giúp Nhà tuyển dụng dễ dàng tiếp cận ứng viên tiềm
          năng trong thời gian ngắn nhất
        </p>
      </div>

      <!-- img content -->
      <div style='width: 100%; height: auto; margin: 0 auto;'>
        <img
          src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/images/Email_marketingOP2-01.png'
          alt='Nền tảng tuyển dụng mới'
          style='width: 100%; height: 100%'
        />
      </div>

      <div id='img-content' style='position: relative'>
        <div style='text-align: center;'>
          <button
            style='
          max-width: 350px;
          /* height: 46px; */
          border-radius: 45px;
          background: #0d99ff;
          border-color: transparent;
          padding: 11px 24px;
          margin-top: 24px 
          '
          >
            <a
              style='
                      z-index: 10;
                      border: none;
                      outline: none;
                      color: #ffffff;
                      text-decoration: none;
                      font-weight: 600;
                      font-size: 14px;
                      line-height: 24px;
                      letter-spacing: 0.5px;
                      display: inline-block;
                    '
              href='https://hijob.site/'
              target='_blank'
            >
              HÃY ĐĂNG NHẬP VÀO HIJOB NGAY
            </a>
          </button>
        </div>

        <div style='text-align: center; margin: 12px 0;'>
          <p
            style='font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin: 0;'
          >Hijob sẽ giúp bạn quảng cáo video tuyển dụng của bạn trên 3 nền tảng
            mạng xã hội lớn nhất
            <span
              style='color: var(--x1, #252525);
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;'
            >(Facebook, Tiktok, Youtube shorts)</span>
          </p>
        </div>
      </div>
      <!-- img content-top -->
      <div id='content-top' style='text-align: center'>
        <div class='wrap-img' style='padding: 24px 0'>
          <img
            src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/logoCircle.png'
            alt=''
          />
        </div>
        <div>
          <h2
            style='
              text-align: center;
              font-family: Roboto;
              font-size: 32px;
              font-style: normal;
              font-weight: 900;
              line-height: 42px;
              color: #191919;
              margin: 0;
            '
          >
            Lợi ích chính
          </h2>
          <p
            style='
              text-align: center;
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              color: #939393;
            '
          >
            HiJob là nền tảng giúp Nhà tuyển dụng dễ dàng tiếp cận ứng viên tiềm
            năng trong thời gian ngắn nhất.
          </p>
        </div>
      </div>
      <!-- img content-bottom -->
      <div class='content-bottom' style='padding-top: 24px'>
        <div class='list-item' style='display: flex; gap: 12px'>
          <!-- Miễn phí -->
          <div class='item' style='text-align: center; width: 50%'>
            <h3
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              '
            >
              Miễn phí
            </h3>
            <p
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              '
            >
              Bạn sẽ có thể đăng tuyển các công việc miễn phí.
            </p>
          </div>

          <!-- Tạo video miễn phí -->
          <div class='item' style='text-align: center; width: 50%'>
            <h3
              style='
                        text-align: center;
                        font-family: Roboto;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 32px;
                        color: #191919;
                      '
            >
              Tạo video miễn phí
            </h3>
            <p
              style='
                        text-align: center;
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: #939393;
                      '
            >
              Hijob giúp bạn tạo video quảng cáo tin tuyển dụng miễn phí trên
              nền tảng
              <span>Tiktok</span>
              &
              <span>Youtube shorts</span>
            </p>
          </div>

        </div>
        <div class='list-item' style='display: flex; gap: 12px'>
          <!-- Nguồn tin tuyển dụng đa dạng nhất -->
          <div class='item' style='text-align: center; width: 50%'>
            <h3
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              '
            >
              Nguồn tin tuyển dụng đa dạng nhất
            </h3>
            <p
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              '
            >
              Nơi tập hợp tin tuyển dụng đa dạng từ nhiều nền tảng khác nhau.
            </p>
          </div>

          <!-- Tìm hồ sơ nhanh chóng -->
          <div class='item' style='text-align: center; width: 50%'>
            <h3
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              '
            >
              Tìm kiếm hồ sơ nhanh chóng
            </h3>
            <p
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              '
            >
              Tiếp cận hồ sơ ứng viên chất lượng, dễ dàng tìm kiếm ứng viên phù
              hợp.
            </p>
          </div>

        </div>
        <div class='list-item' style='display: flex; gap: 12px'>
          <!-- Công việc đa dạng -->
          <div class='item' style='text-align: center; width: 50%'>
            <h3
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              '
            >
              Công việc đa dạng
            </h3>
            <p
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              '
            >
              Nhiều công việc khác nhau từ bán thời gian, freelancer, nhân viên
              hợp đồng,...
            </p>
          </div>

          <!-- Người dùng đông đảo -->
          <div class='item' style='text-align: center; width: 50%'>
            <h3
              style='
                        text-align: center;
                        font-family: Roboto;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 32px;
                        color: #191919;
                      '
            >
              Người dùng đông đảo
            </h3>
            <p
              style='
                        text-align: center;
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: #939393;
                      '
            >
              Số lượng lớn người dùng cần tìm kiếm việc làm trên HiJob.
            </p>
          </div>

        </div>
        <div class='list-item' style='display: flex; gap: 12px'>
          <!-- Độ tin cậy cao -->
          <div class='item' style='text-align: center; width: 50%'>
            <h3
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              '
            >
              Độ tin cậy cao
            </h3>
            <p
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              '
            >
              Mọi thông tin tuyển dụng đều được HiJob nỗ lực kiểm duyệt rõ ràng
              trước khi đăng tuyển.
            </p>
          </div>

          <!-- Công cụ đơn giản -->
          <div class='item' style='text-align: center; width: 50%'>
            <h3
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              '
            >
              Công cụ đơn giản
            </h3>
            <p
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              '
            >
              Công cụ đăng tuyển công việc dễ dàng và nhanh chóng.
            </p>
          </div>

        </div>
      </div>
    </div>
  </body>

</html>