<html lang='en'>

  <body>
    <div
      id='changeRoute'
      style='height: 42px; background-color: #f1f1f1; position: relative'
    >
      <p
        style='
          font-family: Roboto;
          font-size: 11px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          color: #939393;
          line-height: 42px;
          margin: 0 12px;
          position: absolute;
          right: 0;
        '
      >
        View in browser →
      </p>
    </div>
    <div style='padding: 0 40px 40px 40px; max-width: 1280px; margin: auto;'>
      <!-- title -->
      <div id='title'>
        <h1
          style='
            text-align: center;
            font-family: Roboto;
            font-size: 2.625rem;
            font-style: normal;
            font-weight: 900;
            line-height: 3.25rem; /* 123.81% */
            letter-spacing: 0.01313rem;
            color: #252525;
          '
        >
          Nền tảng tuyển dụng mới
        </h1>
        <p
          style='
            text-align: center;
            z-index: 1;
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: #aaa;
            margin: 0;
          '
        >
          HiJob là nền tảng giúp Nhà tuyển dụng dễ dàng tiếp cận ứng viên tiềm
          năng trong thời gian ngắn nhất
        </p>
      </div>

      <!-- img content -->
      <div id='img-content' style='position: relative'>
        <div style='text-align: center;'>
          <button
            style='
        width: 169px;
        height: 46px;
        padding: 11px 24px;
        border-radius: 45px;
        background: #0d99ff;
        border-color: transparent;
        margin: 24px 0
        '
          >
            <a
              style='
                    z-index: 10;
                    border: none;
                    outline: none;
                    color: #ffffff;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.07px;
                  '
              href='https://hijob.site/'
              target='_blank'
            >
              Bắt đầu miễn phí
            </a>
          </button>
        </div>

        <div style='width: 100%; height: auto; margin: 0 auto;'>
          <img
            src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/images/Email_marketingOP2-01.png'
            alt='Nền tảng tuyển dụng mới'
            style='width: 100%; height: 100%'
          />
        </div>

        <div style='text-align: center; margin: 12px 0;'>
          <p
            style='font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
        padding: 12px 0;'
          >Chỉ cần có Hijob, tin tuyển dụng của bạn sẽ được quảng cáo trên 3 nền
            tảng mạng xã hội lớn nhất
            <span
              style='color: var(--x1, #252525);
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;'
            >(Facebook, Tiktok, Youtube shorts)</span>
          </p>
        </div>
      </div>
      <!-- img content-top -->
      <div id='content-top' style='text-align: center'>
        <div class='wrap-img' style='padding: 24px 0'>
          <img
            src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/logoCircle.png'
            alt=''
          />
        </div>
        <div>
          <h2
            style='
              text-align: center;
              font-family: Roboto;
              font-size: 32px;
              font-style: normal;
              font-weight: 900;
              line-height: 42px;
              color: #191919;
              margin: 0;
            '
          >
            Lợi ích chính
          </h2>
          <p
            style='
              text-align: center;
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              color: #939393;
            '
          >
            HiJob là nền tảng giúp Nhà tuyển dụng dễ dàng tiếp cận ứng viên tiềm
            năng trong thời gian ngắn nhất.
          </p>
        </div>
      </div>
      <!-- img content-bottom -->
      <div class='content-bottom' style='padding-top: 24px'>
        <div class='list-item' style='display: flex; gap: 12px'>
          <!-- Miễn phí -->
          <div class='item' style='text-align: center; width: 50%'>
            <img
              src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/images/picFree.png'
              alt=''
              style='width: 50px; height: 50px'
            />
            <h3
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              '
            >
              Miễn phí
            </h3>
            <p
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              '
            >
              Bạn sẽ có thể đăng tuyển các công việc miễn phí.
            </p>
          </div>

          <!-- Công việc đa dạng -->
          <div class='item' style='text-align: center; width: 50%'>
            <img
              src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/images/various.png'
              alt=''
              style='width: 50px; height: 50px'
            />
            <h3
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              '
            >
              Công việc đa dạng
            </h3>
            <p
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              '
            >
              Nhiều công việc khác nhau từ bán thời gian, freelancer, nhân viên
              hợp đồng,...
            </p>
          </div>
        </div>
        <div class='list-item' style='display: flex; gap: 12px'>
          <!-- Tạo video miễn phí -->
          <div class='item' style='text-align: center; width: 50%'>
            <img
              src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/images/Video.png'
              alt=''
              style='width: 50px; height: 50px'
            />
            <h3
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              '
            >
              Tạo video miễn phí
            </h3>
            <p
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              '
            >
              Hijob giúp bạn tạo video quảng cáo tin tuyển dụng miễn phí trên
              nền tảng
              <a
                target='_blank'
                href='https://www.tiktok.com/@hijob.site'
                style='color: #0d99ff;'
              >Tiktok</a>
              &
              <a
                target='_blank'
                href='https://www.youtube.com/channel/UCLqnRJxdtPbO9JyWnoHLPOg'
                style='color: #0d99ff;'
              >Youtube shorts</a>
            </p>
          </div>

          <!-- Nguồn tin tuyển dụng đa dạng nhất -->
          <div class='item' style='text-align: center; width: 50%'>
            <img
              src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/images/multi.png'
              alt=''
              style='width: 50px; height: 50px'
            />
            <h3
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              '
            >
              Nguồn tin tuyển dụng đa dạng nhất
            </h3>
            <p
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              '
            >
              Nơi tập hợp tin tuyển dụng đa dạng từ nhiều nền tảng khác nhau.
            </p>
          </div>

        </div>
        <div class='list-item' style='display: flex; gap: 12px'>
          <!-- Công cụ đơn giản -->
          <div class='item' style='text-align: center; width: 50%'>
            <img
              src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/images/jobSingle.png'
              alt=''
              style='width: 50px; height: 50px'
            />
            <h3
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              '
            >
              Công cụ đơn giản
            </h3>
            <p
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              '
            >
              Công cụ đăng tuyển công việc dễ dàng và nhanh chóng.
            </p>
          </div>
          <!-- Người dùng đông đảo -->
          <div class='item' style='text-align: center; width: 50%'>
            <img
              src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/images/largeUser.png'
              alt=''
              style='width: 50px; height: 50px'
            />
            <h3
              style='
                        text-align: center;
                        font-family: Roboto;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 32px;
                        color: #191919;
                      '
            >
              Người dùng đông đảo
            </h3>
            <p
              style='
                        text-align: center;
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: #939393;
                      '
            >
              Số lượng lớn người dùng cần tìm kiếm việc làm trên HiJob.
            </p>
          </div>

        </div>
        <div class='list-item' style='display: flex; gap: 12px'>
          <!-- Tìm hồ sơ nhanh chóng -->
          <div class='item' style='text-align: center; width: 50%'>
            <img
              src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/images/iconSearchFast.png'
              alt=''
              style='width: 50px; height: 50px'
            />
            <h3
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              '
            >
              Tìm kiếm hồ sơ nhanh chóng
            </h3>
            <p
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              '
            >
              Tiếp cận hồ sơ ứng viên chất lượng, dễ dàng tìm kiếm ứng viên phù
              hợp.
            </p>
          </div>
          <!-- Độ tin cậy cao -->
          <div class='item' style='text-align: center; width: 50%'>
            <img
              src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/images/SketchLogo.png'
              alt=''
              style='width: 50px; height: 50px'
            />
            <h3
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                color: #191919;
              '
            >
              Độ tin cậy cao
            </h3>
            <p
              style='
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #939393;
              '
            >
              Mọi thông tin tuyển dụng đều được HiJob nỗ lực kiểm duyệt rõ ràng
              trước khi đăng tuyển.
            </p>
          </div>

        </div>
        <div class='submit' style='text-align: center; padding: 24px 0'>
          <a
            style='
              padding: 14px 40px;
              background: #0d99ff;
              border-radius: 45px;
              border: none;
              outline: auto;
              color: #ffffff;
              text-decoration: none;
            '
            href='https://hijob.site/'
          >
            Đăng bài ngay
          </a>
        </div>
        <div style='height: 1px; background: #aaaaaa'></div>
        <div id='qr' style='text-align: center'>
          <p
            style='
              text-align: center;
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              color: #939393; 
              padding-top: 8px;
            '
          >
            Bạn có thể quét mã QR để tải ngay ứng dụng HiJob để thuận tiện cho
            việc theo dõi tin tuyển dụng!
          </p>
          <img
            src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/images/qr.png'
            alt='Ảnh qr'
          />
          <div class='qr-gg-store' style='display: block; padding: 24px 0'>
            <img
              src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/images/qrGg.png'
              alt=''
            />
            <img
              src='https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ads_mail/images/qrStore.png'
              alt=''
            />
          </div>
        </div>
      </div>
    </div>
  </body>

</html>